<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container">
      <p class="text-center mx-auto my-0" style="color: rgb(209, 209, 209);">Dilshan Liyanage &copy; 2023 All rights reserved</p>
    </div>
  </nav>
</footer>