<!--Attidiye Dilshan Nayanamadhu Liyanage -->
<!-- 301279203 -->
<!-- COMP229 SEC.001 -->

<!-- Footer with custom date -->

<footer>
  <nav class="navbar navbar-dark bg-dark fixed-bottom">
    <div class="container">
      <p class="text-center mx-auto my-0" style="color: rgb(209, 209, 209);">Dilshan Liyanage &copy; <%= new Date().getFullYear() %>. All rights reserved</p>
    </div>
  </nav>
</footer>