<footer>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <p class="text-center mx-auto my-0" style="color: rgb(209, 209, 209);">Dilshan Liyanage &copy; <%= new Date().getFullYear() %> All rights reserved</p>
    </div>
  </nav>
</footer>