<!--Attidiye Dilshan Nayanamadhu Liyanage -->
<!-- 301279203 -->
<!-- COMP229 SEC.001 -->

<!-- Dark Navigation Bar -->

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark p-3">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar-center" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        
        <!-- Custom logo -->
        <a class="navbar-brand" href="/">
          <img src="/img/dila_logo.png" alt="Dila Logo" width="40">
        </a>

        <% if (title=="Home") { %>
        <li class="nav-item active">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <% } %>

        <% if (title=="About Me") { %>
        <li class="nav-item active">
          <a class="nav-link active" href="/about">About Me</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Me</a>
        </li>
        <% } %>

        <% if (title=="Projects") { %>
        <li class="nav-item active">
          <a class="nav-link active" href="/projects">Projects</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
        <% } %>

        <% if (title=="Services") { %>
        <li class="nav-item active">
          <a class="nav-link active" href="/services">Services</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/services">Services</a>
        </li>
        <% } %>

        <% if (title=="Contact") { %>
        <li class="nav-item active">
          <a class="nav-link active" href="/contact">Contact</a>
        </li>
        <% } else { %>
        <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <% } %>

      </ul>
    </div>
  </div>
</nav>