<!--Attidiye Dilshan Nayanamadhu Liyanage -->
<!-- 301279203 -->
<!-- COMP229 SEC.001 -->

<!-- including partials -->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container" style="margin-top: 6rem;">

  <div class="jumbotron">
    <div class="row">
      <div class="col-md-7">
        <h1 class="display-4">Hello!</h1>

        <h3 class="display-6 mt-5">I'm Dilshan Liyanage</h3>
        <h3 class="display-6" style="font-size: 25px;">You can call me Dila</h3>

        <h3 class="display-6 mt-5" style="font-size: 30px;">An Enthusiastic Web Developer and UI/UX Designer</h3>

        <h3 class="display-6 mb-4" style="font-size: 25px; margin-top: 100px;">Feel free to know more about me by clicking these sections...</h3>

        <!-- Custom button for naviagtion -->
        <a href="/about" style="text-decoration: none;">
          <button type="button" class="btn index-link">
            <h3 class="display-6" style="font-size: 20px;">About Me</h3>
          </button>
        </a>

        <a href="/projects" style="text-decoration: none;">
          <button type="button" class="btn index-link" style="margin-left: 10px;">
            <h3 class="display-6" style="font-size: 20px;">Projects</h3>
          </button>
        </a>

        <a href="/services" style="text-decoration: none;">
          <button type="button" class="btn index-link" style="margin-left: 10px;">
            <h3 class="display-6" style="font-size: 20px;">Services</h3>
          </button>
        </a>

        <a href="/contact" style="text-decoration: none;">
          <button type="button" class="btn index-link" style="margin-left: 10px;">
            <h3 class="display-6" style="font-size: 20px;">Contact</h3>
          </button>
        </a>

      </div>

      <!-- UI UX Logo -->
      <div class="col-md-5 text-end">
        <img src="/img/ui_logo_new.png" alt="UI-UX Logo" style="width: 75%;" />

        <h4 class="display-6" style="font-size: 25px; margin-top: 100px;">
          <i>"Empowering digital experiences through innovative design and seamless functionality."</i>
        </h4>
      </div>

    </div>

  </div>

</main>

<!-- including partials -->

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>